### grunt ###
dist/
.tmp/

### Node ###
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
.grunt
node_modules

### TypeScript ###
src/*.js
src/*.js.map

### Intellij ###
*.iml
.idea/

### TSD ###
typings/

### Bower ###
bower_components/
