### grunt ###
dist/
.tmp/

### Node ###
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
.grunt
node_modules

### Intellij ###
*.iml
.idea/

### TypeScript ###
src/*.js
src/*.js.map
src/*.d.ts

### TSD ###
typings/

### Sass ###
src/*.css
src/*.css.map
