/*!
 * reveal.js video sync
 */

$video-height: 30%;
$slide-height: 100% - $video-height;

.reveal {
  height: $slide-height !important;
}

.reveal .reveal-video-sync {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  box-sizing: border-box;
  padding: 10px;
  height: $video-height;

  video {
    max-width: 100%;
    max-height: 100%;
  }
}

.reveal.reveal-video-sync-right {
  .controls {
    left: 10px;
    right: auto;
  }
  .reveal-video-sync {
    left: auto;
    right: 0;
    text-align: right;
  }
}