$aspect-ratio: 16 / 9;
$video-height: 30vh;
$player-margin: 2vh;
$player-height: $video-height - 2 * $player-margin;
$player-width: $player-height * $aspect-ratio;
$slide-height: 100vh - $video-height;

.reveal {
  height: $slide-height !important;
}

.reveal-video-sync {
  position: relative;
  font-size: 12px;
  height: $video-height;
  z-index: 100; // above presentation

  video {
    max-width: 100%;
    max-height: 100%;
  }

  .reveal-video-sync-player {
    position: absolute;
    left: 0;
    right: auto;
    bottom: 0;
    width: $player-width;
    height: $player-height;
    margin: $player-margin;
  }
}

.reveal.reveal-video-sync-right {
  .controls {
    left: 10px;
    right: auto;
  }

  & ~ .reveal-video-sync {
    .reveal-video-sync-player {
      left: auto;
      right: 0;
    }
  }
}
